
footer{
    background-color: black;
    color: whitesmoke;
    height: 100px;
    overflow-y: hidden;
}

footer .footer_left{
    width: 75%;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    float: left;
    height: 150px;
    text-align: left;
}


.footer_center p{
    display: flex;
    color: whitesmoke;
    align-items: center;
    text-align: left  ;
    padding:20px 20px;
    text-decoration: none;
}
footer .footer_right{
    float: right;
    width: 25%;
    height: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    /*background-color: red;*/
}
.footer_right img{
    margin-left: 10px;
}
.footer_para{
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 25px;
    bottom: 35px;
}